/**-RALEWAY_18-**/
/**-ROBOTO_12-**/
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black'), local('Raleway-Black'),
    url(../font/eot/Raleway/Raleway-Black.eot);
  src: local('Raleway Black'), local('Raleway-Black'),
    url(../font/eot/Raleway/Raleway-Black.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Black.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Black.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Black.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Black.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
    url(../font/eot/Raleway/Raleway-Black-Italic.eot);
  src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
    url(../font/eot/Raleway/Raleway-Black-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Black-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Black-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Black-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Black-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Black-Italic.woff2) format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
    url(../font/eot/Raleway/Raleway-ExtraBold.eot);
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
    url(../font/eot/Raleway/Raleway-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-ExtraBold.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-ExtraBold.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-ExtraBold.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-ExtraBold.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-ExtraBold.woff2) format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
    url(../font/eot/Raleway/Raleway-ExtraBold-Italic.eot);
  src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
    url(../font/eot/Raleway/Raleway-ExtraBold-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-ExtraBold-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-ExtraBold-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-ExtraBold-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-ExtraBold-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-ExtraBold-Italic.woff2) format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url(../font/eot/Raleway/Raleway-Bold.eot);
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url(../font/eot/Raleway/Raleway-Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Bold.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Bold.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Bold.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Bold.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
    url(../font/eot/Raleway/Raleway-Bold-Italic.eot);
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
    url(../font/eot/Raleway/Raleway-Bold-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Bold-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Bold-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Bold-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Bold-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Bold-Italic.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url(../font/eot/Raleway/Raleway-SemiBold.eot);
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url(../font/eot/Raleway/Raleway-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-SemiBold.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-SemiBold.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-SemiBold.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-SemiBold.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
    url(../font/eot/Raleway/Raleway-SemiBold-Italic.eot);
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
    url(../font/eot/Raleway/Raleway-SemiBold-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-SemiBold-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-SemiBold-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-SemiBold-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-SemiBold-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-SemiBold-Italic.woff2) format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium'), local('Raleway-Medium'),
    url(../font/eot/Raleway/Raleway-Medium.eot);
  src: local('Raleway Medium'), local('Raleway-Medium'),
    url(../font/eot/Raleway/Raleway-Medium.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Medium.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Medium.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Medium.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Medium.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
    url(../font/eot/Raleway/Raleway-Medium-Italic.eot);
  src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
    url(../font/eot/Raleway/Raleway-Medium-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Medium-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Medium-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Medium-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Medium-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Medium-Italic.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), local('Raleway-Regular'),
    url(../font/eot/Raleway/Raleway-Regular.eot);
  src: local('Raleway'), local('Raleway-Regular'),
    url(../font/eot/Raleway/Raleway-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Regular.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Regular.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Regular.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Regular.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Italic'), local('Raleway-Italic'),
    url(../font/eot/Raleway/Raleway-Regular-Italic.eot);
  src: local('Raleway Italic'), local('Raleway-Italic'),
    url(../font/eot/Raleway/Raleway-Regular-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Regular-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Regular-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Regular-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Regular-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Regular-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light'), local('Raleway-Light'),
    url(../font/eot/Raleway/Raleway-Light.eot);
  src: local('Raleway Light'), local('Raleway-Light'),
    url(../font/eot/Raleway/Raleway-Light.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Light.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Light.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Light.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Light.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
    url(../font/eot/Raleway/Raleway-Light-Italic.eot);
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
    url(../font/eot/Raleway/Raleway-Light-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Light-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Light-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Light-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Light-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Light-Italic.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
    url(../font/eot/Raleway/Raleway-ExtraLight.eot);
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
    url(../font/eot/Raleway/Raleway-ExtraLight.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-ExtraLight.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-ExtraLight.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-ExtraLight.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-ExtraLight.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-ExtraLight.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
    url(../font/eot/Raleway/Raleway-ExtraLight-Italic.eot);
  src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
    url(../font/eot/Raleway/Raleway-ExtraLight-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-ExtraLight-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-ExtraLight-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-ExtraLight-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-ExtraLight-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-ExtraLight-Italic.woff2) format('woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin'), local('Raleway-Thin'),
    url(../font/eot/Raleway/Raleway-Thin.eot);
  src: local('Raleway Thin'), local('Raleway-Thin'),
    url(../font/eot/Raleway/Raleway-Thin.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Thin.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Thin.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Thin.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Thin.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Thin.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
    url(../font/eot/Raleway/Raleway-Thin-Italic.eot);
  src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
    url(../font/eot/Raleway/Raleway-Thin-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Raleway/Raleway-Thin-Italic.otf) format('opentype'),
    url(../font/svg/Raleway/Raleway-Thin-Italic.svg) format('svg'),
    url(../font/ttf/Raleway/Raleway-Thin-Italic.ttf) format('truetype'),
    url(../font/woff/Raleway/Raleway-Thin-Italic.woff) format('woff'),
    url(../font/woff2/Raleway/Raleway-Thin-Italic.woff2) format('woff2');
  font-weight: 100;
  font-style: italic;
}
/**-ROBOTO_12-**/
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
    url(../font/eot/Roboto/Roboto-Black.eot);
  src: local('Roboto Black'), local('Roboto-Black'),
    url(../font/eot/Roboto/Roboto-Black.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Black.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Black.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Black.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Black.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url(../font/eot/Roboto/Roboto-Black-Italic.eot);
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url(../font/eot/Roboto/Roboto-Black-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Black-Italic.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Black-Italic.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Black-Italic.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Black-Italic.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Black-Italic.woff2) format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url(../font/eot/Roboto/Roboto-Bold.eot);
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url(../font/eot/Roboto/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Bold.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Bold.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Bold.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Bold.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url(../font/eot/Roboto/Roboto-Bold-Italic.eot);
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url(../font/eot/Roboto/Roboto-Bold-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Bold-Italic.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Bold-Italic.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Bold-Italic.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Bold-Italic.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Bold-Italic.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url(../font/eot/Roboto/Roboto-Medium.eot);
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url(../font/eot/Roboto/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Medium.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Medium.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Medium.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Medium.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url(../font/eot/Roboto/Roboto-Medium-Italic.eot);
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url(../font/eot/Roboto/Roboto-Medium-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Medium-Italic.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Medium-Italic.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Medium-Italic.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Medium-Italic.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Medium-Italic.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url(../font/eot/Roboto/Roboto-Regular.eot);
  src: local('Roboto'), local('Roboto-Regular'),
    url(../font/eot/Roboto/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Regular.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Regular.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Regular.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Regular.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url(../font/eot/Roboto/Roboto-Regular-Italic.eot);
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url(../font/eot/Roboto/Roboto-Regular-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Regular-Italic.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Regular-Italic.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Regular-Italic.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Regular-Italic.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Regular-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
    url(../font/eot/Roboto/Roboto-Light.eot);
  src: local('Roboto Light'), local('Roboto-Light'),
    url(../font/eot/Roboto/Roboto-Light.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Light.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Light.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Light.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Light.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url(../font/eot/Roboto/Roboto-Light-Italic.eot);
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url(../font/eot/Roboto/Roboto-Light-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Light-Italic.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Light-Italic.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Light-Italic.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Light-Italic.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Light-Italic.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(../font/eot/Roboto/Roboto-Thin.eot);
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url(../font/eot/Roboto/Roboto-Thin.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Thin.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Thin.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Thin.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Thin.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Thin.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url(../font/eot/Roboto/Roboto-Thin-Italic.eot);
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url(../font/eot/Roboto/Roboto-Thin-Italic.eot?#iefix) format('embedded-opentype'),
    url(../font/otf/Roboto/Roboto-Thin-Italic.otf) format('opentype'),
    url(../font/svg/Roboto/Roboto-Thin-Italic.svg) format('svg'),
    url(../font/ttf/Roboto/Roboto-Thin-Italic.ttf) format('truetype'),
    url(../font/woff/Roboto/Roboto-Thin-Italic.woff) format('woff'),
    url(../font/woff2/Roboto/Roboto-Thin-Italic.woff2) format('woff2');
  font-weight: 100;
  font-style: italic;
}